<div style="
        {#position: fixed;#}
  {#bottom: 50px;#}
  {#left: 0;#}
  width: 100%
  {#height: 50px; /* высота футера */#}
  ">


    <h1 style="color: #ffffff;">
        KFC Footer
    </h1>
    <p style="font-size: small;color: #ffffff;">
        <a style="color: #ffffff;" href="{% url 'catalog_main' %}">Страница каталога</a>
        <a style="color: #ffffff;" href="{% url 'API_main' %}">Страница API</a>
        <a style="color: #ffffff;" href="{% url 'userCab' %}">Страница userCab</a>
        <a style="color: #ffffff;" href="{% url 'cartPage' %}">Страница CartPage</a>
    </p>
</div>