<a style="color: #ffffff;" href="{% url 'catalog_main' %}">Страница каталога</a>
{#<a href="{% url 'catalog_View_main' %}">Страница каталога view (Class)</a>#}
<a style="color: #ffffff;" href="{% url 'supplier_list_view' %}">Страница
    list view supplier</a>
{#<a href="{% url 'catalog_View_main' %}">Страница каталога view (Class)</a>#}
<a style="color: #ffffff;" href="{% url 'API_main' %}">Страница API</a>
<a style="color: #ffffff;" href="{% url 'userCab' %}">Страница userCab</a>
<a style="color: #ffffff;" href="{% url 'cartPage' %}">Страница CartPage</a>
<a style="color: #ffffff;" href="{% url 'supplier_create_page' %}">Страница create supplier</a>