{% extends 'base.html' %}
{% load static %}
{% block title %}
    Order
{% endblock %}


{% block content %}
    <h1>Order page</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'categoryPage' pk=1 %}"> Страница с категориями </a>
    <a href="{% url 'tagsPage' %}"> Страница с Tags </a>
    <a href="{% url 'createCategory' %}"> Страница с создания категорий </a>
    <a href="{% url 'productPage' pk=1 %}"> Страница с товаром </a>
    <a href="{% url 'helpPage' %}"> Страница с с обратной связью </a>
    <a href="{% url 'supplier_create_page' %}">Страница create supplier</a>
{% endblock %}


{% block content_info %}

    <div class="container">
        <a href="{% url 'zakaz_create_view' %}" class="btn btn-primary">Create </a>


        <div class="row justify-content-md-center">
            <div class="row row-cols-3">
                {% for data in order %}
                    <div class="col">

                        <h4>{{ data.order_number }}</h4>
                        <h5>{{ data.created_at }}</h5>
                        <h5>{{ data.client_name }}</h5>
                        <a href="{% url 'zakaz_detail_view' pk=data.pk %}" class="btn btn-info">Detail </a>
                        <a href="{% url 'zakaz_update_view' pk=data.pk %}" class="btn btn-warning">Update </a>
                        <a href="{% url 'zakaz_delete_view' pk=data.pk %}" class="btn btn-danger">Delete </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block content_more_info %}


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>

            {% endif %}

            </li>
            {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active"><a class="page-link ">{{ page }}</a></li>
                {% elif page_obj.number|add:"-1" <= page and page_obj.number|add:"2" >= p %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>

                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

