{% extends 'base.html' %}

{% block title %}
    Product Page
{% endblock %}


{% block content %}
    <h1>Product Page</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'changePage' pk=product.pk %}" class="btn ">Изменить</a>
    <a href="{% url 'product_delete_view' pk=product.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}


{% block content_info %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="row row-cols-3">

                <div class="col ">
                    <h4>{{ product.name }}</h4>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" style="width: 300px"/>
                    {% else %}
                        <p>Картинка не загрузилвсь</p>


                    {% endif %}
                    <h5>{{ product.creator_name }}</h5>
                    <h5>{{ product.description }}</h5>

                    <h5>{{ product.price }} ₽</h5>

                    <div class="container text-center">
                        <div class="row row-cols-auto">
                            {% for cate in category %}
                                <div class="col">
                                    <h6><a href="{% url 'tagsPageDetail' pk=cate.pk %}">
                                        {{ cate.name }}
                                    </a></h6>
                                    <p style="font-size: 11px">{{ cate.description }} </p>
                                </div>
                            {% endfor %}

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


{% endblock %}