{% extends 'base.html' %}
{% load static %}
{% block title %}
    create supplier
{% endblock %}

{% block content %}
    <h1>create supplier</h1>
{% endblock %}
{% block content_info %}
    <div class="container">


    <form method="post">
    {% csrf_token %}
{#    action="{% url 'catalog_main' %}"#}
        {{ form_email.as_div }}
        <input type="submit" value="Отправить данные">
        <button type="submit">Send</button>
    </form>
</div>
    <div class="container">
    <form method="post">
    {% csrf_token %}
{#    action="{% url 'catalog_main' %}"#}
        {{ form_supplier.as_div }}
{#        <input type="submit" value="Отправить данные">#}
        <button type="submit">Добавить поставщика</button>
    </form>
    </div>
{% endblock %}
{% block content_more_info %}

{% endblock %}